# secrets
.env

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# data
data/
*.db
*.db-wal
*.db-shm
RIDBFullExport_V1_CSV.zip
RIDBFullExport_V1_JSON.zip

# docker
.dockerenv

# editor
.DS_Store
.vscode/
*.swp
